<aside id="form-menu" class="form-status">
    <p>
        <span class="number">{{notificationNumber}}</span>
    </p>

    <p>
        <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/summary" id="Notification_overview" role="progressbar" title="Notification overview">Notification overview<i class="fa"></i>
        </a>
    </p>

    <span>Organisations involved</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/exporter" id="Exporter_-_notifier" role="progressbar" title="Exporter - notifier">Exporter - notifier<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/waste-generator-producer" id="Waste_generator_-_producer" role="progressbar" title="Waste generator - producer">Waste generator - producer<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/site-of-export" id="Site_of_export" role="progressbar" title="Site of export">Site of export<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/importer-consignee" id="Importer_-_consignee" role="progressbar" title="Importer - consignee">Importer - consignee<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/recovery-facility" id="Disposal_facility" role="progressbar" title="Disposal facility">Recovery facility<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/site-of-recovery" id="Actual_site_of_recovery" role="progressbar" title="Actual site of disposal">Actual site of recovery<i class="fa"></i>
    </a>

    <span>Recovery operation</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/pre-consent-facility" id="Pre_-_consent_facility" role="progressbar" title="Disposal codes">Pre-consent facility<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/recovery-codes" id="Recovery_codes" role="progressbar" title="Technology employed">Recovery codes<i class="fa"></i>
    </a>  
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/technology-employed" id="Technology_employed" role="progressbar" title="Technology employed">Technology employed<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/reason-for-export" id="Reason_for_export" role="progressbar" title="Reason for export">Reason for export<i class="fa"></i>
    </a>

    <span>The transportation</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/intended-carrier" id="Intended_carrier" role="progressbar" title="Intended carrier">Intended carrier<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/means-of-transport" id="Means_of_transport" role="progressbar" title="Means of transport">Means of transport<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/packaging-types" id="Packaging_types" role="progressbar" title="Packaging types">Packaging types<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/special-handling" id="Special_handling" role="progressbar" title="Special handling">Special handling<i class="fa"></i>
    </a>

    <span>The journey</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/transport-route-export" id="Transport_route_export" role="progressbar" title="Transport route export">Transport route export<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/transport-route-import" id="Transport_route_import" role="progressbar" title="Transport route import">Transport route import<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/transport-route-transits" id="Transport_route_transits" role="progressbar" title="Transport route transits">Transport route transits<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/transport-route-transits" id="Customs_office" role="progressbar" title="Customs office">Customs office<i class="fa"></i>
    </a>

    <span>Amounts and dates</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/intended-shipments" id="Intended_shipments" role="progressbar" title="Intended shipments">Intended shipments<i class="fa"></i>
    </a>

    <span>Classify your waste</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/chemical-composition" id="Chemical_composition" role="progressbar" title="Chemical composition">Chemical composition<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/process-of-generation" id="Process_of_generation" role="progressbar" title="Process of generation">Process of generation<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/physical-characteristics" id="Physical_characteristics" role="progressbar" title="Physical characteristics">Physical characteristics<i class="fa"></i>
    </a>

    <span>Waste codes</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/basel-oecd-codes" id="Basel_or_OECD_code" role="progressbar" title="Basel or OECD code">Basel or OECD code<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/ewc-codes" id="EWC_codes" role="progressbar" title="EWC codes">EWC codes<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/y-codes" id="Y_codes" role="progressbar" title="Y codes">Y codes<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/h-codes" id="H_or_HP_codes" role="progressbar" title="H or HP codes">H or HP codes<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/un-classes" id="UN_classes" role="progressbar" title="UN classes">UN classes<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/un-numbers" id="UN_numbers" role="progressbar" title="UN numbers">UN numbers<i class="fa"></i>
    </a>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/other-codes" id="Other_codes" role="progressbar" title="Other codes">Other codes<i class="fa"></i>
    </a>

  <span>Waste recovery</span>
    <a aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" href="/recovery-information" id="Recovery_Information" role="progressbar" title="Recovery information">Recovery information<i class="fa"></i>
    </a>
    <em></em>
</aside>