.DS_Store
.idea
.vscode
coverage
node_modules
npm-debug.log
server/public/build/*
!server/public/build/stylesheets
server/public/build/stylesheets/*
!server/public/build/stylesheets/customs.css
volumes
