{% extends 'layout.njk' %}
{% from "button/macro.njk" import govukButton %}

{% from "date-input/macro.njk" import govukDateInput %}

{% block content %}
  <div class="govuk-body">
    <h1 class="heading-large">International Waste Shipping (IWS)</h1>
    <h2 class="heading-medium">Would you like to start a notification?</h2>
    <p>Start a new notification now or read the
      <a href="https://www.gov.uk/guidance/importing-and-exporting-waste">supporting information</a>
      first.
      </br>
      You could also
      <a href="#">create a new notification based on a previous one</a>.
    </p>    
    
    {{ govukButton({
    text: "Start a new notification",
    href: "/competent-authority",
    classes: "govuk-button--start"
    }) }}
  </div>
{% endblock %}