{% extends 'layout.njk' %}

{% from "button/macro.njk" import govukButton %}

{% block content %}
<form action="/notification/competent-authority" method="get">
  <div class="govuk-body">
  <h1>Your homepage</h1>
    <h3>Would you like to start a notification?</h3>
    <p>Start a new notification now or read the <a href="#">supporting information</a> first.</p>
    <p>You could also <a href="#">create a new notification based on a previous one.</a></p>
    {{ govukButton({
      "text": "Start a new notification"
    }) }}
    </form>
  </div>
{% endblock %}