{% from "partials/summary-detail.html" import summaryDetail %}
{% from "partials/components.html" import componentList %}

{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% for detail in details %}
          {{ summaryDetail(detail) }}
        {% endfor %}

        <pre>{{ result.error | dump(2) | safe }}</pre>
      </div>
    </div>
    <!-- Disable form submission untl the level of Notification service integration is clarified. -->
    {# include "partials/form.html" #}
  </div>
{% endblock %}
