{% extends 'layout.html' %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-body">
    <form method="POST">
      <h1>{{model.title}}</h1>
      <p>{{model.notificationNumber}}</p>
      {{govukInsetText(model)}}    
      <p>Print and complete a <a href={{model.financialGuarantee}}>financial guarantee form</a>.</p>
      <p>An approved financial guarantee must be in place before any shipments can be made.</p>
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
{% endblock %}