{% extends 'layout.njk' %}

{% from "button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl">Your homepage</h1>
    <h2>Would you like to start a notification?</h2>
    <p>Start a new notification now or read the supporting information first.</p>
    <p>You could also create a new notification based on a previous one.</p>
    <form method="post" autocomplete="off" novalidate>
      {{ govukButton({
        text: "Start a new notification"
      }) }}
    </form>
  </div>
{% endblock %}