{% extends 'layout.njk' %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  <div class="govuk-body">
    <h1>{{model.title}}</h1>
    {% if model.errorMessage %}
      {{govukErrorSummary (model.errorMessage) }}
    {% endif %}
    <form method="POST" action="/applicant/login">
      {{govukInput (model.email) }}
      {{govukInput (model.password) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <a href="/applicant/register">Register for a user account</a>
  </div>
{% endblock %}
