{% extends 'layout.njk' %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "select/macro.njk" import govukSelect %}

{% block content %}
  <div class="govuk-body">
  <form method="POST" action="register">
    <h1 class="govuk-heading-xl">About you and your organisation</h1>
    <p class="govuk-body-l">Enter your contact details and correspondence address</p>

    {{ govukInput(model.firstName) }}
    
    {{ govukInput(model.lastName) }}

    {{ govukInput(model.organisationName) }}

    {{ govukInput(model.telephoneNumber) }}

    {{ govukInput(model.email) }}

    {{ govukInput(model.addressLine1) }}

    {{ govukInput(model.addressLine2) }}

    {{ govukInput(model.town) }}

    {{ govukInput(model.county) }}
    
    {{ govukInput(model.postcode) }}

    {{ govukSelect(model.country) }}

    {{ govukInput(model.password) }}

    {{ govukInput(model.confirmPassword) }}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Read full terms and conditions of use
        </span>
      </summary>
      <div class="govuk-details__text">
        {% include "_terms-and-conditions.njk" ignore missing %}
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Read our standard data notice
        </span>
      </summary>
      <div class="govuk-details__text">
        {% include "_standard-data-notice.njk" ignore missing %}
      </div>
    </details>   
    
    {{ govukCheckboxes(model.termsandconditions) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
{% endblock %}