<details>
    <summary>
        <h2 class="summary heading-xsmall" data-track="disclosure" data-category="Data notice" data-action="Read">@IwsStandardDataNoticeResources.Header</h2>
    </summary>
    <div class="panel">
        <p>
            Please read carefully, accept and proceed.
        </p>

        <h2 class="heading-small">How we will use your personal information</h2>
        <p>
            We, the Competent Authority, will process the information you provide so that we can:

            <ul class="list-bullet">
                <li>deal with your notification</li>
                <li>make sure you comply with the notification</li>
                <li>process renewals</li>
            </ul>
        </p>

        <h2 class="heading-small">We may also process or release the information to:</h2>

        <p>
            <ul class="list-bullet">
                <li>offer you documents or services relating to environmental matters</li>
                <li>consult the public, public organisations and other organisations (for example the Health and Safety Executive) on environmental issues</li>
                <li>carry out research and development work on environmental issues</li>
                <li>prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken, and take any action that is needed</li>
                <li>assess whether customers are satisfied with our service, and improve our service</li>
                <li>respond to information requests under applicable freedom of information legislation (if the Data Protection Act allows)</li>
            </ul>
        </p>

        <p>
            We may pass the information on to our agents or representatives to do these things for us.
        </p>
    </div>
</details>